name: Build and Deploy Sphinx Docs

on:
  push:
    branches:
      - main

permissions:
  contents: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5

      - name: Install dev requirements
        working-directory: ./docs_web
        run: pip install -r requirements.txt

      - name: Build Sphinx Documentation
        run: sphinx-build docs_web docs_web/_build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs_web/_build/